############################ template ############################

# General Settings

# Use any of these commands to quickly generate a new secret key:
# $ openssl rand -hex 32
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))'
#DJANGO_SECRET_KEY=CHANGEME!!!
#DATABASE_URL=postgis://test_postgis_user:testDB-password@localhost/test_postgis_database
# DATABASE_URL=postgres://db_user:db_password@host:port/db_name
#DEBUG=False
#ALLOWED_HOSTS=
#BASE_URL=www.example.com

# Celery
# CELERY_BROKER_URL=redis://127.0.0.1:6379/1

##################################################################

DJANGO_SECRET_KEY=i-8,gdW];McKk]8]%-w7l>*=;F)Yi0[ESjx#dnGZGg<q{0$_R*
DATABASE_URL=postgis://wagtail_dev_user:wagtail_dev_password@db:5432/wagtail_test_db
DEBUG=False
ALLOWED_HOSTS=
BASE_URL=www.example.com
# CELERY_BROKER_URL=redis://127.0.0.1:6379/1
